form.--list-input-form{
    gap:1rem;
    color:white;
}

input.--list-input-item:focus-visible{
    all:unset;
    border:2px solid rgba(131,58,180,1)
}

input.--list-input-item,
input.--list-input-item:focus-visible
{
    padding:1rem .5rem;
    text-align: center;
    font-size: 1.2rem;
    background-color:lightskyblue;
    font-family: var(--primary-font);
    border-image-source: linear-gradient(to right, rgba(252,176,69,1)0%, rgba(131,58,180,1)50%,rgba(253,29,29,1));
    border-image-slice: 1;
    box-shadow: 0px 5px 7px 0px #161616;
    text-shadow:0 0 2px #161616;
}

input.--list-input-item::placeholder{
    color:white;
    opacity: 1;
}

button.--list-input-submit{
    all:unset;
    text-align:center;
    font-family: var(--primary-font);
    font-size:1.2rem;
    background-color:lightskyblue;
    padding:1rem 0.5rem;
    border-style:unset;
    border-radius: .375rem;
    box-shadow: 0px 5px 7px 0px #161616;
    text-shadow:0 0 2px #161616;
}

button.--list-input-submit:hover{
    background-color: #007FFF;
    box-shadow: inset 0px -5px 7px 0px lightskyblue;
}